
<header class="d-flex justify-content-between align-items-xl-center">
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"
                ><img
                        src="/image/logo-removebg-preview.png"
                        alt="logo"
                        style="height: 35px"
                /></a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link fs-5" href="#" style="font-family: Georgia"
                            >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-5" href="#" style="font-family: Georgia"
                            >Given Request</a
                            >
                        </li>
                        <li class="nav-item fs-5">
                            <a class="nav-link" href="#" style="font-family: Georgia"
                            >Receiving request</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <button
                type="button"
                class="btn btn-outline-success me-2"
                style="font-family: Georgia"
        >
            Sign in
        </button>
        <button
                type="button"
                class="btn btn-outline-primary"
                style="font-family: Georgia"
        >
            Sign up
        </button>
    </div>
</header>
